In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\vinay\Downloads\cleaned_all_phones.csv", parse_dates = ["announcement_date"], dayfirst = True,)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   datetime64[ns]
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 156.6+ KB

#### 1-How many unique brands are there in the given data?

In [11]:
ub = df["brand"].nunique()
ub

13

#### 2-What is the average ram size of all the collected data

In [20]:
total_ram_size = df["ram(GB)"].mean()
print("The average ram size of all the collected data is",total_ram_size)

The average ram size of all the collected data is 6.6838624338624335

#### 3-Which phone is having the maximum and minimum battery capacity

In [13]:
#Which phone is having the maximum and minimum battery capacity?

max_bat = df.at[df["battery"].idxmax(), "phone_name"]
print("The Max battery phone among all is", max_bat)

print()       

min_bat = df.at[df["battery"].idxmin(), "phone_name"]
print("The min battery phone among all is", min_bat)

The Max battery phone among all is V6

The min battery phone among all is iPhone 8

#### 4-What is the maximum battery capacity provided by Hauwei company?

In [77]:
grouped_df = df.groupby("brand")
sub_grouped = grouped_df.get_group("Huawei")
max_grouped = sub_grouped["battery"].max()
print("The maximum battery capacity provided by huawei is", max_grouped)

The maximum battery capacity provided by huawei is 7000

#### 4-Which phone brand is providing the highest and lowest ram?

In [17]:
max_ram = df.at[df["ram(GB)"].idxmax(), "brand"]
print("The highest ram provding phone brand is", max_ram)
min_ram = df.at[df["ram(GB)"].idxmin(), "brand"]
print("The lowest ram providing phone brand is", min_ram)

The highest ram provding phone brand is Xiaomi
The lowest ram providing phone brand is Huawei

#### 5-How many phones has android 7.0 as there operating system?

In [178]:
operating_system = df[df["os"] == "Android 7.0"]
print("The number of phoes that has android 7.0 is", len(operating_system))

The number of phoes that has android 7.0 is 33

#### 6-Which phone is the oldest among all the phones?

In [119]:
old_phone = df.at[df["announcement_date"].idxmin(), "phone_name"]
print("The oldest phone among all the phones is", old_phone)

The oldest phone among all the phones is Y6II Compact

#### 7-which brand produced the maximum number of phone in the given data?

In [180]:
df["brand"].value_counts()
print("The **Xiaomi** brand produced the maximum number of phones in the given data")

The **Xiaomi** brand produced the maximum number of phones in the given data

#### 8-Give the count of phones supporting 4k video?

In [145]:
#Give the count of phones supporting 4k video?

df["video_4K"].value_counts()
print("The count of phones supporting 4K video is 801")

The count of phones supporting 4K video is 801

#### 9-Give the count of phone supporting 8k video?

In [147]:
df["video_8K"].value_counts()
print("The count of phones supporting 8k video is 1426")

The count of phones supporting 8k video is 1426

#### 10-Give the count of phone supporting 2k video?

In [150]:
df["video_1080p"].value_counts()
print("The number of phones supporting 2k video is 1503")

The number of phones supporting 2k video is 1503

#### 11-How many phones supports Li-Po and Li-ion Battery?

In [201]:
battery_phones = df[(df["battery_type"] == "Li-Po") | (df["battery_type"] == "Li-Ion")]
print("The number of phones supports Li-Po and Li-ion Battery are", len(battery_phones))

The number of phones supports Li-Po and Li-ion Battery are 1512

#### 12-How many sony phone supports 720X1280 resolution?

In [218]:
gouped_df = df.groupby("brand")
sony_phones = grouped_df.get_group("Sony")
resolutioned_phones = sony_phones[sony_phones["resolution"] == "720x1280"]
print("There are", len(resolutioned_phones), "sony phones that support 720x1280 resolution")

There are 5 sony phones that support 720x1280 resolution

#### 13-pivot table for finding the average weights ,total weights,based on brand and battery type?

In [16]:
df.pivot_table(index = ["brand"],columns = ["battery_type"], values = ["weight(g)"], aggfunc = ["sum","mean"])

                   sum                 mean
             weight(g)            weight(g)
battery_type    Li-Ion    Li-Po      Li-Ion       Li-Po
brand
Apple           4097.0      NaN  186.227273         NaN
Google          1144.0   2300.0  190.666667  176.923077
Honor            496.0  23064.0  165.333333  190.611570
Huawei          4909.0  19881.0  158.354839  187.556604
LG              4181.0   8823.0  154.851852  183.812500
Lenovo          2662.0   6339.0  190.142857  218.586207
OnePlus            NaN   9003.0         NaN  191.553191
Oppo            3788.0  34620.0  157.833333  183.174603
Realme          1001.0  28643.0  166.833333  189.688742
Samsung        17139.0  21640.0  178.531250  196.727273
Sony            4256.0   2324.0  177.333333  178.769231
Vivo               NaN  31959.0         NaN  190.232143
Xiaomi          3048.0  48389.0  179.294118  195.906883