In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\vinay\Downloads\all_grains_data.csv", parse_dates = ["date"], dayfirst = True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  datetime64[ns]
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.1+ MB

Which commodity was having the highest opening price for the day?

In [93]:
highest_opening = df.at[df["open"].idxmax(), "commodity"]
print("The commodity which has highest opening price for the day is", highest_opening)

The commodity which has highest opening price for the day is Rough Rice

Which commodity price reached maximum during the trading session?

In [6]:
grouped_df = df.groupby("commodity")
grouped_df.max().sort_values("open", ascending = False)
#the "Rough Rice" has the maximum price reached during the trading session.

,ticker,date,open,high,low,close,volume
commodity,,,,,,,
Rough Rice,ZR=F,2023-09-15,2435.00,2468.500000,2400.000000,2446.000000,4321
Soybean,ZS=F,2023-09-15,1778.50,1794.750000,1760.500000,1771.000000,352462
KC HRW Wheat,KE=F,2023-09-15,1370.50,1384.750000,1325.000000,1367.750000,81857
Corn,ZC=F,2023-09-15,830.25,843.750000,822.750000,831.250000,523849
Oat,ZO=F,2023-09-15,803.00,811.000000,799.750000,807.000000,3935
Soybean Oil,ZL=F,2023-09-15,90.50,91.400002,89.099998,90.599998,128535

What is the average Market's opening price for the Oat in 2010?

In [95]:
df["year"] = pd.DatetimeIndex(df["date"]).year
df

,ticker,commodity,date,open,high,low,close,volume,year
0,ZC=F,Corn,2000-07-17,182.25,182.25,178.25,179.25,19385,2000
1,ZC=F,Corn,2000-07-18,179.00,183.25,179.00,180.75,25205,2000
2,ZC=F,Corn,2000-07-19,180.00,182.75,178.75,182.00,17126,2000
3,ZC=F,Corn,2000-07-20,181.50,187.00,181.00,186.00,18742,2000
4,ZC=F,Corn,2000-07-21,185.50,188.00,185.00,187.75,16814,2000
...,...,...,...,...,...,...,...,...,...
34878,ZS=F,Soybean,2023-09-11,1352.50,1352.50,1352.00,1352.50,36,2023
34879,ZS=F,Soybean,2023-09-12,1348.75,1348.75,1331.75,1331.75,274,2023
34880,ZS=F,Soybean,2023-09-13,1325.50,1336.00,1325.50,1336.00,201,2023
34881,ZS=F,Soybean,2023-09-14,1343.75,1343.75,1343.75,1343.75,138778,2023
34882,ZS=F,Soybean,2023-09-15,1360.50,1367.75,1338.25,1340.25,138778,2023

In [96]:
accessing = df.loc[df["commodity"] == "Oat", ["commodity", "open", "year"]]
conditioning = accessing[accessing["year"] == 2010]
result = conditioning["open"].mean()
print("The average Market's opening price for the oat in 2010 is", result)

The average Market's opening price for the oat in 2010 is 275.11607142857144

What is the maximum and minimum number of contracts traded during the 2009?

In [97]:
accessed_year = df.loc[df["year"] == 2009, ["volume", "year"]]
min_contracts = accessed_year["volume"].min()
max_contracts = accessed_year["volume"].max()
print("The maximum number of contracts traded during the 2009 is", max_contracts)
print()
print("The minimum number of contracts traded during in the 2009 is", min_contracts)

The maximum number of contracts traded during the 2009 is 252221

The minimum number of contracts traded during in the 2009 is 0

Which year have maximum and minimum number of contracts traded?

In [98]:
max_contracts = df.loc[df["volume"].idxmax(), "year"]
min_contracts = df.loc[df["volume"].idxmin(), "year"]
print("The maximum number of contracts traded in the year of", max_contracts)
print()
print("The minimum number of contracts traded in the year of", min_contracts)

The maximum number of contracts traded in the year of 2017

The minimum number of contracts traded in the year of 2003

Which commodity have the average lowest opening price around 2001 to 2005?

In [143]:
group = df[(df["year"] >= 2001) & (df["year"] <= 2005)]
group

      ticker commodity       date    open    high    low   close  volume  year
98      ZC=F      Corn 2001-01-02  221.00  221.00  221.0  222.50    1466  2001
99      ZC=F      Corn 2001-01-16  219.00  219.00  217.5  218.50     957  2001
100     ZC=F      Corn 2001-01-17  216.00  217.00  215.5  216.25     519  2001
101     ZC=F      Corn 2001-01-18  217.50  219.00  217.5  218.75     940  2001
102     ZC=F      Corn 2001-01-19  218.25  219.50  218.0  218.50     519  2001
...      ...       ...        ...     ...     ...    ...     ...     ...   ...
30423   ZS=F   Soybean 2005-12-23  612.50  615.25  611.5  613.00     598  2005
30424   ZS=F   Soybean 2005-12-27  613.75  619.50  606.5  611.50     300  2005
30425   ZS=F   Soybean 2005-12-28  611.00  613.50  607.5  611.00     150  2005
30426   ZS=F   Soybean 2005-12-29  610.00  610.00  605.5  597.75     129  2005
30427   ZS=F   Soybean 2005-12-30  596.50  597.50  595.0  602.00     132  2005

[7330 rows x 9 columns]

In [197]:
pivot = df.pivot_table(index = "commodity",
                      values = "open",
                      aggfunc = "mean")
pivot

                     open
commodity
Corn           409.282059
KC HRW Wheat   563.985475
Oat            278.897021
Rough Rice    1143.643069
Soybean        997.618605
Soybean Oil     36.837337

In [198]:
pivot["open"].idxmin()

'Soybean Oil'

Which commodity have the best average  Market's closing price?

In [192]:
pivot = df.pivot_table(index = "commodity",
                      values = "close",
                       aggfunc = "mean")
pivot

                    close
commodity
Corn           409.404772
KC HRW Wheat   563.693282
Oat            278.657674
Rough Rice    1143.607925
Soybean        998.015728
Soybean Oil     36.820361

In [194]:
pivot["close"].idxmax()

'Rough Rice'

Which year corn have the highest and lowest Number of contracts traded?

In [188]:
grouped_df = df.groupby("commodity")
corn = grouped_df.get_group("Corn")
corn.loc[porn["volume"].idxmax(), "year"]

2017

In [189]:
corn.loc[corn["volume"].idxmin(), "year"]

2003